<div class="container">
    <h1><small>Cliente</small></h1>
    <hr>

    <form [formGroup]="form" (ngSubmit)="submitParams()">

        <div class="form-group row">

            <div class="row mt-3 ">
                <div class="col"> 
                    <div class="mb-3 form-group form">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Escriba el nombre" maxlength="30"
                        name="nombre" 
                        formControlName="nombre"
                        >
                    </div>        
                </div>
                <div class="col"> 
                    <div class="mb-3 form">
                        <label for="apaterno" class="form-label">Apellido paterno:</label>
                        <input type="text" class="form-control" id="apaterno" placeholder="Escriba el apellido paterno" maxlength="30"
                        name="apaterno" 
                        formControlName="apaterno"
                        >
                    </div>        
                </div>
                <div class="col"> 
                    <div class="mb-3 form">
                        <label for="amaterno" class="form-label">Apellido materno:</label>
                        <input type="text" class="form-control" id="amaterno" placeholder="Escriba el apellido materno" maxlength="30"
                        name="amaterno" 
                        formControlName="amaterno"
                        >
                    </div>        
                </div>
            </div>

            <div class="row">
                <div class="col"> 
                    <div class="mb-3 form">
                        <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
                        <!-- [(ngModel)]="fechaNacimiento"  -->
                        <p-calendar 
                        name="fechaNacimiento" 
                        formControlName="fechaNacimiento"></p-calendar>
                    </div>        
                </div>
                <div class="col"> 
                    <div class="mb-3 form">
                        <label for="rfc" class="form-label">RFC:</label>
                        <input type="text" class="form-control" id="rfc" placeholder="Escriba el RFC" maxlength="25"
                            name="rfc" 
                            formControlName="rfc"
                        >
                    </div>        
                </div>
                <div class="col"> 
                    <div class="mb-3 form">
                        <label for="fechaIngreso" class="form-label">Fecha de Ingreso:</label>
                        <!-- [(ngModel)]="fechaIngreso"  -->
                        <p-calendar name="fechaIngreso" 
                        formControlName="fechaIngreso"></p-calendar>
                    </div>        
                </div>        
            </div>

            <div class="row">
                <div class="col"> 
                    <label for="matricula" class="form-label">Matricula:</label>
                    <input type="text" class="form-control" id="matricula" placeholder="Escriba la matricula" maxlength="15"
                            name="matricula" 
                            formControlName="matricula"
                        >
                </div>
                <div class="col">
                    <label for="curp" class="form-label">CURP:</label>
                    <input type="text" class="form-control" id="curp" placeholder="Escriba la CURP" maxlength="18"
                    name="curp" 
                    formControlName="curp"
                >
                </div>
                <div class="col"> 
                    <div class="mb-3 form">
                        <label for="sexo" class="form-label">Sexo:</label>
                        <div class="form-check">
                            <!-- <p-radioButton name="sexo" value="M" [(ngModel)]="sexo" 
                            name="sexo" 
                            formControlName="sexo"
                        ></p-radioButton> -->
                            <label class="form-check-label" for="flexRadioDefault1">
                                &nbsp;Masculino
                            </label>
                        </div>
                        <div class="form-check">
                            <!-- <p-radioButton name="sexo" value="F" [(ngModel)]="sexo"
                                name="sexoF" 
                                formControlName="sexoF"
                            ></p-radioButton> -->
                            <label class="form-check-label" for="flexRadioDefault1">
                                &nbsp;Femenino
                            </label>
                        </div>
                    </div>        
                </div>
            </div>

            <div class="row">
                <div class="col"> 
                    Direccion:            
                </div>
            </div>

            <div class="row">
                <div class="col-6"> 
                    <div class="mb-3 form">
                        <label for="callenumero" class="form-label">Calle y numero:</label>
                        <input type="text" class="form-control" id="callenumero" 
                                placeholder="Escriba la calle y el numero" maxlength="100" 
                                name="callenumero" 
                                formControlName="callenumero">
                    </div>        
                </div>
                <div class="col-6" >
                    <div class="mb-3 form">
                        <label for="colonia" class="form-label">Colonia:</label>
                        <br>
                        <!-- <input type="text" class="form-control" id="colonia" placeholder="Escriba la colonia" maxlength="100"> -->
                        <!-- [(ngModel)]="colonia"  -->
                        <p-autoComplete 
                            class="p-autocomplete" 
                            [minLength]="3" [delay]="200"
                            [forceSelection]="true"
                            [suggestions]="results" 
                            (completeMethod)="search($event)"                              
                            name="colonia" 
                            formControlName="colonia"></p-autoComplete>
                    </div>        
                </div>
            </div>

            <div class="row">
                <div class="col-5"> 
                    <div class="mb-3 form">
                        <label for="Municipio" class="form-label">Municipio o Alcaldia:</label>
                        <input type="text" class="form-control" id="Municipio" placeholder="Municipio" maxlength="50"
                            name="municipio" 
                            formControlName="municipio">
                    </div>        
                </div>
                <div class="col-5"> 
                    <div class="mb-3 form">
                        <label for="Estado" class="form-label">Estado:</label>
                        <br>
                        <!-- [(ngModel)]="selectedState" -->
                        <p-dropdown [options]="states" optionLabel="name"
                                    name="estado" 
                                    formControlName="estado"></p-dropdown>
                    </div>        
                </div>
                <div class="col-2"> 
                    <div class="mb-3 form">
                        <label for="CP" class="form-label">CP:</label>
                        <input type="text" class="form-control" id="CP" placeholder="CP" maxlength="5" style="width: 80px;"
                                    name="codigopostal" 
                                    formControlName="codigopostal">
                    </div>        
                </div>
            </div>
        
            <div class="row">
                <div class="col"> 
                    <div class="mb-3 form">
                        <label for="tCelular" class="form-label">Telefono Celular:</label>
                        <!-- [(ngModel)]="tCelular" -->
                        <p-inputMask mask="(999) 999-9999" characterPattern="[А-Яа-я]"
                        name="tcelular" 
                        formControlName="tcelular"></p-inputMask>
                    </div>        
                </div>
                <div class="col"> 
                    <div class="mb-3 form">
                        <label for="tCasa" class="form-label">Telefono Casa:</label>
                        <!-- [(ngModel)]="tCasa" -->
                        <p-inputMask mask="(999) 999-9999" characterPattern="[А-Яа-я]"
                        name="tcasa" 
                        formControlName="tcasa"></p-inputMask>
                    </div>        
                </div>
                <div class="col"> 
                    <div class="mb-3 form">
                        <label for="tTrabajo" class="form-label">Telefono Trabajo:</label>
                        <!-- [(ngModel)]="tTrabajo" -->
                        <p-inputMask mask="(999) 999-9999? x99999" characterPattern="[А-Яа-я]"
                        name="ttrabajo" 
                        formControlName="ttrabajo"></p-inputMask>
                    </div>        
                </div>
            </div>
        
            <div class="row">
                <div class="col-8"> 
                    <div class="mb-3 form">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" name="email" id="email" class="form-control" maxlength="100"
                        name="email" 
                        formControlName="email">
                    </div>        
                </div>
                <div class="col"> 
                    <button type="submit" 
                            class="btn btn-warning position-relative top-50 start-50 translate-middle" 
                            [disabled]="form.pristine || form.invalid">Guardar</button>
                    <button type="button" 
                            class="btn btn-secondary position-relative top-50 start-50 translate-middle" 
                            [routerLink]="['/clientes']">Cancelar</button>
                </div>
            </div>
        
            <div class="row">
                <div class="col"> 
                    <div class="mb-3">
                        <label for="observaciones" class="form-label">Notas:</label>
                        <textarea class="form-control" id="observaciones" rows="3"
                        name="notas" 
                        formControlName="notas"></textarea>
                    </div>
                </div>
            </div>





            <!-- <div class="col-sm-6">
                <div>
                    <h1>Foo</h1>
                    <input id="foo" type="text" class="form-control" formControlName="foo" placeholder="Enter Foo" required />
                    <div *ngIf="getFormControl('foo')?.invalid 
                            && ( form.controls['foo']?.dirty || form.controls['foo'].touched)" 
                        class="alert alert-danger"> 
                        FOO is required
                    </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div>
                <h1>DUE DATE</h1>
                <p-calendar formControlName="dueDate"  
                    placeholder="Select Date"></p-calendar>
                <div *ngIf="getFormControl('dueDate')?.invalid 
                        && ( form.controls['dueDate']?.dirty || form.controls['dueDate']?.touched)" 
                    class="alert alert-danger col-sm-9"> Due Date is required</div>
              </div>
              </div> -->
            </div>
            <div class="row">
              <div class="col-sm-12">
                  <button type="submit" [disabled]="form.pristine || form.invalid">Generate</button>
              </div>
            </div>

      </form>




     
    
</div>