.icon:hover{
    color:red;
}

.cargo{
    height: auto;
    width: 150px;
    cursor: pointer;
    padding-left: 5px;
    font-size: 13px;
}

.cargo:hover {
    transform: translate(1px) translateY(-2px);
    box-shadow: -6px 6px 2px #979797;
    transition: box-shadow .5s;
}

.cargo-success:hover, .cargo-canceled:hover {
    transform: translate(0px) translateY(0px);
    box-shadow: 0px 0px 0px;
    cursor: not-allowed;
}

.cargo-warning{
    background-color: rgb(250, 200, 100);
}

.cargo-danger{
    background-color: rgb(210, 60, 60);
    color: white;
}

.cargo-success{
    background-color: rgb(100, 200, 100);
    color: white;
}

.cargo-canceled{
    background-color: rgb(100, 100, 100);
    color: white;
}

.cargo-added{
    border: black solid 2px;
    transform: translate(1px) translateY(-2px);
    box-shadow: -6px 6px 2px #979797;
}

.corner-right-top{
    position: absolute;
    top: 0px;
    right: 5px;
}
