<div class="container">
    
    <div style="float: right;">
        <span class="icon"><i class="fas fa-pencil-alt"></i></span>

        <p-checkbox #editcheck
            name="edit" 
            value="editMode" 
            label=""
            (click)="toggleEdit()"
        >
        </p-checkbox>
    </div>
    
    <h1><small>Usuario</small></h1>
    <hr>
    <!-- Roles: {{ roles | json }} -->
    <!-- Rol seleccionado: {{ form.selectedRol | json }} -->
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group row col">
            <div class="row mt-3 ">
                <div class="col"> 
                    <div class="mb-3 form-group form">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Escriba el nombre" maxlength="30"
                        name="nombre" 
                        formControlName="nombre"
                        [class.is-invalid]="isInvalidControl('nombre')"
                        >
                        <small *ngIf="isInvalidControl('nombre')" class="text-danger">El nombre es obligatorio </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"> 
                    <div class="mb-3 form-group form">
                        <label for="username" class="form-label">Nombre de usuario:</label>
                        <input type="text" class="form-control" id="username" placeholder="Escriba el nombre de usuario" maxlength="30"
                        name="username" 
                        formControlName="username"
                        [class.is-invalid]="isInvalidControl('username')"
                        >
                        <small *ngIf="isInvalidControl('username')" class="text-danger">El nombre de usuario es obligatorio </small>
                    </div>        
                </div>
            </div>

            <div class="row">
                <div class="col"> 
                    <div class="mb-3 form">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" name="email" id="email" class="form-control" maxlength="100"
                        name="email" 
                        formControlName="email"
                        [class.is-invalid]="isInvalidControl('email')">
                        <small *ngIf="isInvalidControl('nombre')" class="text-danger">El email es obligatorio </small>
                    </div>        
                </div>
            </div>
            
            <div class="row">
                <div class="col col-6"> 
                    <div class="mb-3 form">
                        <label for="password" class="form-label">Password:</label>
                        <input type="text" class="form-control" id="password" placeholder="Escriba el password" maxlength="30"
                        name="password" 
                        formControlName="password"
                        [class.is-invalid]="isInvalidControl('password')"
                        >
                        <small *ngIf="isInvalidControl('nombre')" class="text-danger">El password es obligatorio </small>
                    </div>
                </div>

                <div class="col col-6"> 
                    <div class="mb-3 form">
                        <label for="password2" class="form-label">Confirmar password:</label>
                        <input type="text" class="form-control" id="password2" placeholder="Escriba la confirmacion del password" maxlength="30"
                        name="password2" 
                        formControlName="password2"
                        [class.is-invalid]="isInvalidControl('password2')"
                        >
                        <small *ngIf="isInvalidControl('nombre')" class="text-danger">La confirmacion del password es obligatoria </small>
                    </div>        
                </div>

            </div>
        
            <div class="row">
                <div class="col-10">
                    <p-dropdown [options]="roles" 
                                optionLabel="name"
                                name="selectedRol"
                                formControlName="selectedRol"></p-dropdown>
                </div>
                <div class="col-2">
                    <div >
                        <p-inputSwitch name="activo" formControlName="activo"></p-inputSwitch>
                    </div>
                    <label class="form-label">Activo</label>
                </div>
            </div>

            <div class="row">
                <div class="col-8">

                </div>
                <div class="col">
                    <button type="submit"  class="btn btn-primary">save</button>
                    <button type="submit" 
                            class="btn btn-warning position-relative top-50 start-50 translate-middle" 
                            [disabled]="form.pristine || form.invalid">Guardar</button>
                    <button type="button" 
                            class="btn btn-secondary position-relative top-50 start-50 translate-middle" 
                            [routerLink]="['/usuarios']">Cancelar</button>
                </div>
            </div>

        </div>

      </form>
      
<pre>
    Estado formulario: {{ form.valid }}
    Status: {{ form.status }}
</pre>
<pre>
{{ form.value | json }}
</pre>
    
</div>