.btn-sm{
    width:40px;
    margin-right: 2px;
}

.container{
    margin-bottom: 70px;
}

.header-sort{
    width: 100%; 
    display: flex; 
    justify-content: space-around;
    align-content: flex-start;
    color: navy;
}