<!-- environment: {{ environment | json }} -->

<div class="container">
    <div class="grid-cards">

        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/caja']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-cash-register"></i></span>
                </a>
                <h5 class="card-title">Caja</h5>
            </div>
        </div>

        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/cursos']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-scroll"></i></span>
                </a>
                <h5 class="card-title">Cursos</h5>
            </div>
        </div>

        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/inscripciones']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-user-edit"></i></span>
                </a>
                <h5 class="card-title">Inscripciones</h5>
            </div>
        </div>

        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/pagos']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-money-bill-wave"></i></span>
                </a>
                <h5 class="card-title">Pagos</h5>
            </div>
        </div>

        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/estadocuenta']" routerLinkActive="active" >
                    <span class="icon" style="font-size: 50px;"><i class="fas fa-file-invoice"></i></span>
                </a>
                <h5 class="card-title">Estado de cuenta</h5>
            </div>
        </div>


        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/productos']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-boxes"></i></span>
                </a>
                <h5 class="card-title">Productos</h5>
            </div>
        </div>
        
        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/usuarios']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-users"></i></span>
                </a>
                <h5 class="card-title">Usuarios</h5>
            </div>
        </div>
        
        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/clientes']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-user-tie"></i></span>
                </a>
                <h5 class="card-title">Clientes</h5>
            </div>
        </div>

        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/productos']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-university"></i></span>
                </a>
                <h5 class="card-title">Bancos</h5>
            </div>
        </div>
        
        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/productos']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-piggy-bank"></i></span>
                </a>
                <h5 class="card-title">Cuentas</h5>
            </div>
        </div>
        
        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/productos']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-money-check-alt"></i></span>
                </a>
                <h5 class="card-title">Formas de pago</h5>
            </div>
        </div>
        
        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/productos']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-layer-group"></i></span>
                </a>
                <h5 class="card-title">Contables</h5>
            </div>
        </div>
                
        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/alumnos']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-user-graduate"></i></span>
                </a>
                <h5 class="card-title">Alumnos</h5>
            </div>
        </div>
                
        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/empleados']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-chalkboard-teacher"></i></span>
                </a>
                <h5 class="card-title">Maestros</h5>
            </div>
        </div>

        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/empleados']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-id-card"></i></span>
                    <!-- <span class="icon"><i class="pi pi-twitter" style="font-size: 2.5rem"></i></span> -->
                </a>
                <h5 class="card-title">Empleados</h5>
            </div>
        </div>

        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/mensajes']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-envelope"></i></span>
                </a>
                <h5 class="card-title">Mensajes</h5>
            </div>
        </div>

        <div class="card">
            <div class="card-img-overlay text-center">
                <a [routerLink]="['/config']" routerLinkActive="active" >
                    <span class="icon"><i class="fas fa-tools"></i></span>
                </a>
                <h5 class="card-title">Configuracion</h5>
            </div>
        </div>



    </div>    
</div>