<div class="container">
    <div style="float: right;">
        <span class="icon"><i class="fas fa-trash"></i></span>

        <p-checkbox #editcheck
            name="edit" 
            value="editMode" 
            label=""
            (click)="toggleDelete()"
        >
        </p-checkbox>
    </div>
    <h1>Productos</h1> 
    <hr>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-1">
            <label for="buscar">Buscar:</label>
        </div>
        <div class="col">
            <input type="text" class="form-control" id="buscar" placeholder="texto a buscar..." 
                maxlength="30" name="buscar"
                [(ngModel)]="txtbuscar"
                (keyup.enter)="buscar()"
                (keyup)="searchResultMsg = ''"
                >
            <div *ngIf="searchResultMsg">
                <small>{{searchResultMsg}}</small>
            </div>            
        </div>
        <div class="col-2">
            <button class="btn btn-primary" (click)="buscar()" routerLinkActive="active" >
                <span class="icon"><i class="fas fa-search"></i></span>
                <span class="title">&nbsp;Buscar</span>
            </button>
        </div>
    </div>
    
    <p-table [value]="productos" >
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th (click)="setOrder('nombre')" class="col-extra-large">
                    <div [ngClass]="{'header-sort': pageinfo.sort==='nombre'}">
                        Nombre&nbsp;
                    <span class="icon" *ngIf="pageinfo.sort==='nombre'" ><i class="fas fa-sort-alpha-down"></i></span>
                    </div>
                </th>
                <th (click)="setOrder('code')" class="col-large">
                    <div [ngClass]="{'header-sort': pageinfo.sort==='code'}">
                        Code&nbsp;
                        <span class="icon" *ngIf="pageinfo.sort==='code'" ><i class="fas fa-sort-alpha-down"></i></span>
                    </div>    
                </th>
                <th (click)="setOrder('descripcion')">
                    <div [ngClass]="{'header-sort': pageinfo.sort==='descripcion'}">
                        Descripcion&nbsp;
                        <span class="icon" *ngIf="pageinfo.sort==='descripcion'" ><i class="fas fa-sort-alpha-down"></i></span>
                    </div>    
                </th>
                <th (click)="setOrder('activo')"  class="col-small">
                    <div [ngClass]="{'header-sort': pageinfo.sort==='activo'}">
                        Activo&nbsp;
                        <span class="icon" *ngIf="pageinfo.sort==='activo'" ><i class="fas fa-sort-alpha-down"></i></span>
                    </div>    
                </th>
                <th class="col-medium"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
            <tr>
                <td>
                    <img [src]="producto.img" [alt]="producto.nombre" class="image-small-rounded">
                </td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.code}}</td>
                <td >{{producto.descripcion}}</td>
                <td class="text-center">{{!!producto.activo}}</td>
                <td >
                    <button class="btn btn-warning btn-sm" (click)="edit(producto._id)">
                        <span class="icon"><i class="fas fa-pencil-alt"></i></span>    
                    </button>
                    <button *ngIf="showDeleteButtons" type="button" class="btn btn-danger btn-sm" (click)="delete(producto)">
                        <span class="icon"><i class="fas fa-trash"></i></span>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div class="row">
        <div class="col text-center">
            <p-paginator #paginador
                        [rows]="pagesize"
                        [totalRecords]="totalRecords" 
                        [rowsPerPageOptions]="[3,5,10,20,30]"
                        (onPageChange)="paginate($event)"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate = "Pagina {currentPage} de {totalPages}"

            ></p-paginator>
            Registros del {{ pageinfo.first + 1 }} al {{ ((pageinfo.first + pageinfo.rows) < totalRecords ? ( pageinfo.first + pageinfo.rows): totalRecords ) }} de un total de {{ totalRecords }}
        </div>
    </div>

    <br>

    <div class="btn btn-primary fab" (click)="edit('new')">
        <span class="icon"><i class="fas fa-plus"></i></span>
    </div>

    <!-- <pre>
        {{productos | json }}
    </pre> -->

</div>