<div [formGroup]="fgroup" >

    <div class="row" >
        <div class="col"> 
            Direccion:
        </div>
    </div>
    
    <div class="row">
        <div class="col-6"> 
            <div class="mb-3 form">
                <label for="callenumero" class="form-label">Calle y numero:</label>
                <input type="text" class="form-control" id="callenumero" 
                placeholder="Escriba la calle y el numero" maxlength="100" 
                name="callenumero" 
                formControlName="callenumero"
                [class.is-invalid]="isInvalidControl('callenumero', fgroup)">
            </div>        
        </div>
        <div class="col-6" >
            <div class="mb-3 form">
                <label for="colonia" class="form-label">Colonia:</label>
                <br>
                <p-autoComplete 
                class="p-autocomplete" 
                [minLength]="3" [delay]="200"
                [forceSelection]="true"
                [suggestions]="results" 
                (completeMethod)="search($event)"                              
                name="colonia" 
                formControlName="colonia"
                [class.is-invalid]="isInvalidControl('colonia', fgroup)"></p-autoComplete>
            </div>        
        </div>
    </div>

    <div class="row">
        <div class="col-5"> 
            <div class="mb-3 form">
                <label for="Municipio" class="form-label">Municipio o Alcaldia:</label>
                <input type="text" class="form-control" id="Municipio" placeholder="Municipio" maxlength="50"
                name="municipio" 
                formControlName="municipio"
                [class.is-invalid]="isInvalidControl('municipio', fgroup)">
            </div>        
        </div>
        <div class="col-5"> 
            <div class="mb-3 form">
                <label for="Estado" class="form-label">Estado:</label>
                <br>
                <p-dropdown [options]="states"
                optionLabel="name"
                name="estado"
                formControlName="estado"></p-dropdown>
            </div>        
        </div>
        <div class="col-2"> 
        <div class="mb-3 form">
            <label for="CP" class="form-label">CP:</label>
            <input type="text" class="form-control" id="CP" placeholder="CP" maxlength="5" style="width: 80px;"
            name="codigopostal" 
                        formControlName="codigopostal"
                        [class.is-invalid]="isInvalidControl('codigopostal', fgroup)">
                    </div>        
        </div>
    </div>
</div>