<div class="container">
    <h1>Usuarios</h1>
    <hr>

    <button class="btn btn-primary" [routerLink]="['/usuario']" routerLinkActive="active" >
        <span class="icon"><i class="fas fa-user"></i></span>
        <span class="title">Usuario</span>
    </button>

    <div class="btn btn-primary fab">
        <span class="icon"><i class="fas fa-plus"></i></span>
    </div>

    <div class="btn btn-danger fab fab-danger">
        <span class="icon"><i class="fas fa-trash"></i></span>
    </div>
</div>