<div class="container">
    <!-- company : <pre>{{ company | json}}</pre> -->
    <h1 id="titulo" [ngClass]="{'print': imprimirview }" >Estado de cuenta(correo)</h1>
    <hr>
    <div class="row" style="margin-bottom: 10px;" *ngIf="!imprimirview" >
        <div class="col">
            <p-dropdown [options]="alumnosList"
            optionLabel="name"
            name="alumno"
            [(ngModel)]="alumnoSelected"
            (onChange) = "alumnoChanged($event)"
            ></p-dropdown>
        </div>
        <div class="col-2">
            <p-dropdown [options]="mesesanio"
            optionLabel="name"
            name="meses"
            [(ngModel)]="mesanioSelected"
            (onChange) = "mesanioChanged($event)"
            ></p-dropdown>
        </div>
        <div class="col-1">
            <button class="btn btn-secondary" (click)="sendECEmail()">
                <span class="icon"><i class="fas fa-envelope"></i></span>
            </button>
        </div>        
    </div>

    <div class="row">
    <div class="col shadow p-3 mb-2 bg-body rounded" id="ecuenta">
        <!-- <img src="https://greatadmin.herokuapp.com/assets/images/emails/header-email-gpc.jpg" alt="" style="width: 100%;"> -->
        <p *ngIf="alumno">
            Buen día <strong>{{ alumno.nombre }} {{ alumno.apellidos }}</strong>:
            <br>
            No. matricula: {{ alumno.matricula }} </p>
        <p>
            Espero que te encuentres bien a continuación te envió su estado de cuenta al mes de {{ mesanioSelected.name }}.
        </p>

        <!-- resumen : <pre>{{ resumen | json}}</pre> -->
        <div style="display: flex; justify-content: space-between; padding-right: 10%; padding-left: 10%;">
            <table>
                <tr><td><img [src]="company.urllogo" [alt]="company.nombre" style="width: auto; height: 100px;"></td></tr>
                <tr><td style="padding-top: 20px;"><strong>{{company.nombre}}</strong></td></tr>
                <tr><td style="padding-top: 10px;"><pre>{{company.direccion}}</pre></td></tr>
                <tr><td><strong>Alumno:</strong> {{ alumno.nombre }} {{ alumno.apellidos }}</td></tr>
                <tr><td><strong>Referencia:</strong> {{ alumno.matricula }}</td></tr>
            </table>

            <table style="width: 30%; align-self: right;">
                <tr style="border-bottom: 1px black solid;">
                    <td style="border-bottom: 2px black solid; border-top: 2px black solid; background-color: rgb(214, 253, 204); text-align: center; width: 40%;"><strong>Rubro</strong></td>
                    <td style="border-bottom: 2px black solid; border-top: 2px black solid; background-color: rgb(214, 253, 204); text-align: center; width: 15%;"><strong>Total cargos</strong></td>
                    <td style="border-bottom: 2px black solid; border-top: 2px black solid; background-color: rgb(214, 253, 204); text-align: center; width: 15%;"><strong>Total abonos</strong></td>
                </tr>
                <tr *ngFor="let reg of resumen; let i = index;" >
                    <td style="border-bottom: 1px #a0a0a0 solid;">{{reg._id}} ({{ reg.counter }})</td>
                    <td style="border-bottom: 1px #a0a0a0 solid; text-align: right;">{{( reg.totalcargos === 0?"": reg.totalcargos) | currency }}</td>
                    <td style="border-bottom: 1px #a0a0a0 solid; text-align: right;">{{( reg.totalabonos === 0?"": reg.totalabonos) | currency }}</td>
                </tr>
            </table>
        </div>

        <br>

        <div style="display: flex; justify-content: center;">
            <table style="width: 80%; align-self: center;">
                <tr style="border-bottom: 1px black solid;">
                    <td style="border-bottom: 2px black solid; border-top: 2px black solid; background-color: rgb(253, 204, 204); text-align: center; width: 15%;"><strong>Fecha</strong></td>
                    <td style="border-bottom: 2px black solid; border-top: 2px black solid; background-color: rgb(253, 204, 204); text-align: center; width: 40%;"><strong>Concepto</strong></td>
                    <td style="border-bottom: 2px black solid; border-top: 2px black solid; background-color: rgb(253, 204, 204); text-align: center; width: 15%;"><strong>Cargo</strong></td>
                    <td style="border-bottom: 2px black solid; border-top: 2px black solid; background-color: rgb(253, 204, 204); text-align: center; width: 15%;"><strong>Abono</strong></td>
                    <td style="border-bottom: 2px black solid; border-top: 2px black solid; background-color: rgb(253, 204, 204); text-align: center; width: 15%;"><strong>Saldo</strong></td>
                </tr>
                <tr *ngFor="let reg of registros; let i = index;" [ngStyle]="{'background-color': (getMonthInt(reg.fecha) % 2 )===1 ? 'whitesmoke' : '' }">
                    <td style="border-bottom: 1px #a0a0a0 solid; padding-left: 10px;" >{{reg.fecha | date: "dd-MMM-YY" }}</td>
                    <td style="border-bottom: 1px #a0a0a0 solid;">{{reg.concepto}}</td>
                    <td style="border-bottom: 1px #a0a0a0 solid; text-align: right;">{{( reg.cargo === 0?"": reg.cargo) | currency }}</td>
                    <td style="border-bottom: 1px #a0a0a0 solid; text-align: right;">{{( reg.abono === 0?"": reg.abono) | currency }}</td>
                    <td style="border-bottom: 1px #a0a0a0 solid; text-align: right; padding-right: 10px;" [ngStyle]="{'font-weight': checkMonthChange(i) ? 'bold' : '' }">{{ reg.saldo | currency }}</td>
                </tr>
                <tr style="border-top: 1px black solid;">
                    <td style="border-top: 2px black solid;" colspan="3"></td>
                    <td style="border-top: 2px black solid; text-align: right;"><strong>
                        Saldo:
                    </strong></td>
                    <td style="border-top: 2px black solid; border-bottom: 2px black solid; text-align: right; font-size: 1.5rem;  background-color: rgb(214, 253, 204);">
                        <strong>{{ saldototal | currency }}</strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td>
                        <span style="color: 'gray'" *ngIf="saldototal<0"><small>(a favor del cliente)</small></span>
                    </td>
                </tr>
            </table>
        </div>

        <p></p>
        <span>
            Si tiene alguna duda o comentario favor de comunicarse con su servidora CP GPC.
            <br>
            Saludos, gracias.
        </span>
    </div>

</div>
<!-- alumnosList : <pre>{{ alumnosList | json}}</pre> -->