<div class="container">    
    <div style="float: right;">
        <span class="icon"><i class="fas fa-pencil-alt"></i></span>
        <p-checkbox #editcheck
            name="edit" 
            value="true" 
            label=""
            (click)="toggleEdit()"
            [ngModel]="editMode"
            checked="true"
        >
        </p-checkbox>
    </div>
    
    <h1><small>Producto</small></h1>
    <hr>
    <!-- producto: {{ producto | json }} -->
    <!-- Rol seleccionado: {{ form.selectedClasificacion | json }} -->
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group row col">
            <div class="row mt-3 ">
                <div class="col-3"> 
                    <div class="mb-3 form-group form">
                        <label for="code" class="form-label">Codigo:</label>
                        <input type="text" class="form-control" id="code" placeholder="Escriba el codigo del producto" maxlength="10"
                        name="code" 
                        formControlName="code"
                        [class.is-invalid]="isInvalidControl('code')"
                        >
                        <small *ngIf="isInvalidControl('code')" class="text-danger">El codigo del producto es obligatorio </small>
                    </div>        
                </div>

                <div class="col"> 
                    <div class="mb-3 form-group form">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Escriba el nombre" maxlength="30"
                        name="nombre" 
                        formControlName="nombre"
                        [class.is-invalid]="isInvalidControl('nombre')"
                        >
                        <small *ngIf="isInvalidControl('nombre')" class="text-danger">El nombre es obligatorio </small>
                    </div>
                </div>

                <div class="col-3">
                    <div class="mb-3 form-group form">
                        <label for="selectedClasificacion" class="form-label">Clasificacion:</label>
                        <p-dropdown [options]="clasificaciones" 
                                optionLabel="name"
                                name="selectedClasificacion"
                                formControlName="clasificacion"></p-dropdown>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <div class="mb-3 form-group form">
                        <label for="precio" class="form-label">Descripcion:</label>
                        <input type="text" class="form-control" id="descripcion" 
                        placeholder="Descripcion del producto" maxlength="100"
                        name="descripcion" 
                        formControlName="descripcion"
                        [class.is-invalid]="isInvalidControl('descripcion')"
                        >
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-3">
                    <div class="mb-3 form-group form">
                        <label for="costo" class="form-label">Costo:</label>
                        <input type="text" class="form-control text-numeric" id="costo" placeholder="0.00" maxlength="10"
                        name="costo" 
                        formControlName="costo"
                        [class.is-invalid]="isInvalidControl('costo')"
                        >
                        <small *ngIf="isInvalidControl('costo')" class="text-danger">El costo es obligatorio </small>
                    </div>
                </div>

                <div class="col"></div>
                <div class="col-2">
                    <div class="mb-3 form-group form">
                        <label for="tasaIVA" class="form-label" >Excenta IVA: {{ (!!form.value.exentoIVA)?"Si":"No" }}</label>
                        <div style="display: flex; flex-direction: row;;" >
                            <p-inputSwitch name="exentoIVA" formControlName="exentoIVA" ></p-inputSwitch>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="mb-3 form-group form">
                        <label for="tasaIVA" class="form-label" >% Tasa IVA:</label>
                        <div  style="display: flex; flex-direction: row;" >
                            <input type="text" class="form-control text-numeric" id="tasaIVA" placeholder="0.00" maxlength="3"
                            name="tasaIVA" 
                            formControlName="tasaIVA"
                            [class.is-invalid]="isInvalidControl('tasaIVA')"
                            ><span>%</span>
                            <small *ngIf="isInvalidControl('tasaIVA')" class="text-danger">El tasa IVA es obligatorio </small>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                
                <div class="col-3">
                    <div class="mb-3 form-group form">
                        <label for="precio" class="form-label">Precio:</label>
                        <input type="text" class="form-control text-numeric" id="precio" placeholder="0.00" maxlength="10"
                        name="precio" 
                        formControlName="precio"
                        [class.is-invalid]="isInvalidControl('precio')"
                        >
                        <small *ngIf="isInvalidControl('precio')" class="text-danger">El precio es obligatorio </small>
                    </div>
                </div>

                <div class="col-3">
                    <div class="mb-3 form-group form">
                        <label for="cantidad" class="form-label" >Cantidad:</label>
                        <div style="display: flex; flex-direction: row;" >
                            <input type="text" class="form-control text-numeric" id="cantidad" placeholder="" maxlength="10"
                            name="cantidad" 
                            formControlName="cantidad"
                            [class.is-invalid]="isInvalidControl('cantidad')"
                            >       
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div *ngIf="productoId" class="position-relative top-50 start-50 translate-middle">
                        <span class="icon" (click)="showUploadImage()"><i class="fas fa-camera big-icon"></i></span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="mb-3 form-group form">
                        <label class="form-label">Activo:{{ (!!form.value.activo)?"Si":"No" }}</label>
                        <div>
                            <p-inputSwitch name="activo" formControlName="activo"></p-inputSwitch>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">

                <div class="col-3" style="margin-bottom: 10px;">
                    <div *ngIf="producto.img" class="card" style="width: 18rem;" >
                        <img id="myImg" [src]="producto.img" alt="imagen del producto" class="card-img-top" (click)="toggleModal()" >
                    </div>
                </div>
                <div class="col-1"></div>
                
                <div class="col-1">
                </div>

                <div class="col-1"></div>
                <div class="col-1"></div>
  
                <div class="col-4">
                    <button type="submit"  class="btn btn-primary">save</button>
                    <button type="submit" 
                            class="btn btn-warning position-relative top-50 start-50 translate-middle" 
                            [disabled]="form.pristine || form.invalid">Guardar</button>
                    <button type="button" 
                            class="btn btn-secondary position-relative top-50 start-50 translate-middle" 
                            [routerLink]="['/productos']">Cancelar</button>
                </div>
            </div>
        </div>
      </form>

      <span *ngIf="producto.img">
          <div class="row mt-5">
                <div class="col text-align-left">
                <upload-files-modal
                buttonText = "Imagenes"
                modalTitle = "Imagen(es) del producto(s)"
                [itemId] = "productoId"
                closeButtonText = "Cerrar"
                (onCompleted)="getUploadURLs($event)"
                #uploadmodal
                ></upload-files-modal>            
            </div>
        </div>
        <div class="row">
            <div class="col">
                <images-gallery [pictures]="imagesUrls"></images-gallery>
            </div>
        </div>
    </span>
    
</div>
<!-- 
<pre>
    {{ form.value | json}}
</pre> -->

<input type="file" id="fileSelector" name="file" style="display: none;"
(change)="handleFileChange($event)" >

<modal-image [showModal]="showModal" 
    [urlImage]="producto.img"
    [description]="producto.nombre"></modal-image>
