<div [ngClass]="{'navigation': true, 'active': isCollapsed }">
    <ul>
    <li>
        <a [routerLink]="['/home']" routerLinkActive="active" >
            <span class="icon"><i class="fas fa-home"></i></span>
            <span class="title">Home</span>
        </a>
    </li>
    <!-- <li>
        <a [routerLink]="['/usuarios']" routerLinkActive="active" >
            <span class="icon"><i class="fas fa-user"></i></span>
            <span class="title">Usuarios</span>
        </a>
    </li> -->
    <li>
        <a [routerLink]="['/clientes']" routerLinkActive="active" >
            <span class="icon"><i class="fas fa-users"></i></span>
            <span class="title">Clientes</span>
        </a>
    </li>

    <li>
        <a [routerLink]="['/alumnos']" routerLinkActive="active" >
            <span class="icon"><i class="fas fa-user-graduate"></i></span>
            <span class="title">Alumnos</span>
        </a>
    </li>

    <li>
        <a [routerLink]="['/productos']" routerLinkActive="active" >
            <span class="icon"><i class="fas fa-boxes"></i></span>
            <span class="title">Productos</span>
        </a>
    </li>
    <li>
        <a [routerLink]="['/ciclos']" routerLinkActive="active" >
            <span class="icon"><i class="fas fa-history"></i></span>
            <span class="title">Ciclos escolares</span>
        </a>
    </li>
    <!-- <li>
        <a [routerLink]="['/catalogos']" routerLinkActive="active" >
            <span class="icon"><i class="fas fa-award"></i></span>
            <span class="title">Catalogos</span>
        </a>
    </li> -->
    <li>
        <a [routerLink]="['/caja']" routerLinkActive="active" >
            <span class="icon"><i class="fas fa-cash-register"></i></span>
            <span class="title">Caja</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="fas fa-envelope"></i></span>
            <span class="title">Messages</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="fas fa-cogs"></i></span>
            <span class="title">Settings</span>
        </a>
    </li>

    <li>
        <a href="#">
            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
            <span class="title">Logout</span>
        </a>
    </li>
</ul>
</div>
<div class="toggle" (click)="toggleMenu()">
    <span *ngIf="!isCollapsed" class="icon"><i class="fas fa-bars"></i></span>    
    <span *ngIf="isCollapsed" class="icon"><i class="fas fa-thumbtack"></i></span>    
</div>

