/* @import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';  */

/* You can add global styles to this file, and also import other style files */
/** FAB Floating Action Button  **/
.fab{
    border-radius: 100%;
    top: 70px;
    font-size: 30px;
    padding: 25px;
    position: fixed;
    right: 25px;
}

.fab-danger{
    border-radius: 100%;
    top: 160px;
    font-size: 30px;
    padding: 25px;
    position: fixed;
    right: 25px;
}

.p-component, .p-component {
    width: 100%;
}

/* Columnas de los listados */
.col-extra-small{
    width: 25px;
}

.col-small{
    width: 50px;
}

.col-medium{
    width: 100px;
}

.col-large{
    width: 150px;
}

.col-extra-large{
    width: 250px;
}

.col-gigant{
    width: 350px;
}

/* estilas forma */
button{
    margin-right: 10px;
}

.form-group{
    background-color: whitesmoke;
}

.container{
    margin-bottom: 70px;
}

.p-autocomplete{
    width: 100%;
}

.ui-autocomplete{
    width: 100% !important;
}

.ui-autocomplete-input{
    width: 90% !important;
}


.text-numeric{
    text-align: right;
}

/* images */
.image-small-circle{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.image-small-rounded{
  height: 50px;
  width: 50px;
  border-radius: 10px;
}